 
<template is="dom-bind" id="app">
    <paper-material>
<h2>Partner Developer Access</h2>
                <ul>
                    Greetings, this is an invite only area. Please submit an invitation request below.
                </ul>
    </paper-material>
        <paper-material>
            <style>
                google-map {
                    height: 500px;
                }
            </style>
            <google-map latitude="33.9875812" longitude="-118.3888083" fit-to-markers>
                <google-map-marker latitude="37.779" longitude="-122.3892"></google-map-marker>
            </google-map>
        </paper-material>
</template>



@section Head {

    <!-- build:js bower_components/webcomponentsjs/webcomponents-lite.min.js -->
<script src="/assets/Hello.Polymer/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<!-- endbuild -->
<!-- Because this project uses vulcanize this should be your only html import
   in this file. All other imports should go in elements.html -->
<link rel="import" href="/assets/Hello.Polymer/elements/elements.html">

<!-- For shared styles, shared-styles.html import in elements.html -->
<style is="custom-style" include="shared-styles"></style>
 } 

@section Scripts {
<!-- build:js scripts/app.js -->
<script src="/assets/Hello.Polymer/scripts/app.js"></script>
<!-- endbuild-->
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}


