<h2>HelloReactJS</h2>
<div id="app"></div>


@section Head {
 }

@section Scripts {
<script  src="/assets/HelloReactRedux/bundle.js">
</script>

    <!-- endbuild-->
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}


