@model RequestPartnerAccessModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Success</h2>

An email from @Model.Email has been sent to the Norton Partner administrators.  Please check your email for in invitation code.